body {
    background-color: khaki
}

#titleDiv {
    width: 1000px;
    height: 100px;
    background-color: red;
    color: white;
    text-align: center;
    font-size: 50px;
    line-height: 150%;
}

#startGameDiv {
    width: 1000px;
    height: 450px;
    background-color: blue;
    display: flex;
    justify-content: flex-start;
}

#startGameOptions {
    width: 400px;
    height:450px;
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#playButton, #rulesButton {
    width: 300px;
    height:100px;
    background-color: purple;
    text-align: center;
    color: white;
    font-size: 50px;
    line-height: 150%;
    margin-top: 10px;
}

#startImageDiv {
    width: 500px;
    height: 450px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

#startImage {
    width: 450px;
    height: 450px;
}

#levelSelectTopDiv {
    width: 1000px;
    height: 100px;
    background-color: red;
    color: white;
    font-size: 50px;
    line-height: 150%;
}

#returnToStart {
    width: 300px;
    height:100px;
    background-color: purple;
    text-align: center;
    color: white;
    font-size: 50px;
    line-height: 150%;
}

#levelSelectTitle {
    width: 500px;
    height: 100px;
    background-color: hotpink;
    text-align: center;
}

#levelSelectDiv {
    width: 1000px;
    height: 450px;
    background-color: orange;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.levelDiv {
    width: 33%;
    height: 48%;
    background-color: green;
    text-align: center;
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rulesWindowDiv {
    width: 700px;
    height: 400px;
    background-color: greenyellow;
    position: absolute;
    z-index: 3;
    top: 130px;
    left: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#rulesDiv {
    width: 300px;
    height: 350px;
    background-color: blanchedalmond;
    /* padding: 15px; */
    display: flex;
}

#rulesVisual {
    width: 350px;
    height: 350px;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#rulesImage {
    width: 200px;
    height: 200px;
    /* background-color: blue; */
    background-size: 100%;
}

#toggleBar {
    width: 200px;
    height: 50px;
    background-color: indianred;
    display: flex;
    justify-content: space-around;
}

#toggleRight, #toggleLeft {
    width: 55px;
    height: 50px;
    background-color: rebeccapurple;
}

#closeRulesButton {
    width: 200px;
    height: 60px;
    background-color: purple;
    text-align: center;
    color: white;
    font-size: 40px;
    line-height: 150%;
    margin-top: 10px;
}

.levelImg {
    width: 150px;
    height: 150px;
}

.levelSize {
    width: 150px;
    height: 30px;
    background-color: brown;
    font-size: 20px;
    line-height: 150%;
}

#gameDiv {
    width: 1000px;
    height: 550px;
    background-color: salmon;
}

#gameControlsDiv {
    width: 250px;
    height: 550px;
    background-color: hotpink;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#menuButton {
    width: 200px;
    height: 80px;
    background-color: goldenrod;
    text-align: center;
    line-height: 150%;
    font-size: 50px;
}

#optionsMenu {
    width: 450px;
    height: 400px;
    background-color: aqua;
    position: absolute;
    z-index: 2;
    top: 80px;
    left: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#returnButton, #rulesOptButton, #restartButton, #saveQuitButton {
    width: 300px;
    height: 80px;
    background-color: red;
    text-align: center;
    font-size: 40px;
    line-height: 150%;
}

#colorButton, #crossButton {
    width: 120px;
    height: 120px;
    background-color: burlywood;
}

#dpadDiv {
    width: 150px;
    height: 150px;
    background-size: 100%;
    display: flex;
    flex-wrap: wrap;
}

.direction {
    width: 33%;
    height: 33%;
}

#gameDisplayDiv {
    width: 750px;
    height: 550px;
    display: flex;
    align-items: center;
    background-color: royalblue;
}

#gameGridDiv {
    width: 504px;
    height: 504px;
    background-color: tomato;
}

#grid5, #grid10, #grid15 {
    width: 504px;
    height: 504px;
    background-color: blueviolet;
    display: flex;
    justify-content: flex-end;
}

#top5Hints, #top10Hints, #top15Hints {
    width: 360px;
    height: 144px;
    background-color: tomato;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.row5 {
    width: 100%;
    height: 100%;
    display: flex;
}

.square5 {
    width: 20%;
    height: 100%;
    border: 1px black solid;
}

.row10 {
    width: 100%;
    height: 25%;
    display: flex;
}

.square10 {
    width: 10%;
    height: 100%;
    border: 1px black solid;
}

.row15 {
    width: 100%;
    height: 18%;
    display: flex;
}

.square15 {
    width: 6.67%;
    height: 100%;
    border: 1px black solid;
}