body {
    background-color: khaki
}

#titleDiv {
    width: 1000px;
    height: 100px;
    background-color: red;
    color: white;
    text-align: center;
    font-size: 50px;
    line-height: 150%;
}

#startGameDiv {
    width: 1000px;
    height: 450px;
    background-color: blue;
    display: flex;
    justify-content: flex-start;
}

#startGameOptions {
    width: 400px;
    height:450px;
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#playButton, #rulesButton {
    width: 300px;
    height:100px;
    background-color: purple;
    text-align: center;
    color: white;
    font-size: 50px;
    line-height: 150%;
    margin-top: 10px;
}

#startImageDiv {
    width: 500px;
    height: 450px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

#startImage {
    width: 450px;
    height: 450px;
}

#levelSelectTopDiv {
    width: 1000px;
    height: 100px;
    background-color: red;
    color: white;
    font-size: 50px;
    line-height: 150%;
}

#returnToStart {
    width: 300px;
    height:100px;
    background-color: purple;
    text-align: center;
    color: white;
    font-size: 50px;
    line-height: 150%;
}

#levelSelectTitle {
    width: 500px;
    height: 100px;
    background-color: hotpink;
    text-align: center;
}

#levelSelectDiv {
    width: 1000px;
    height: 450px;
    background-color: orange;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.levelDiv {
    width: 33%;
    height: 48%;
    background-color: green;
    text-align: center;
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rulesWindowDiv {
    width: 700px;
    height: 400px;
    background-color: greenyellow;
    position: absolute;
    z-index: 3;
    top: 130px;
    left: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#rulesDiv {
    width: 300px;
    height: 350px;
    background-color: blanchedalmond;
    /* padding: 15px; */
    display: flex;
}

#rulesVisuals {
    width: 350px;
    height: 350px;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#rulesImage {
    width: 200px;
    height: 200px;
    /* background-color: blue; */
    background-size: 100%;
}

#toggleBar {
    width: 200px;
    height: 50px;
    background-color: indianred;
    display: flex;
    justify-content: space-around;
}

#toggleRight, #toggleLeft {
    width: 55px;
    height: 50px;
    background-color: rebeccapurple;
}

#closeRulesButton {
    width: 200px;
    height: 60px;
    background-color: purple;
    text-align: center;
    color: white;
    font-size: 40px;
    line-height: 150%;
    margin-top: 10px;
}

.levelImg {
    width: 150px;
    height: 150px;
}

.levelSize {
    width: 150px;
    height: 30px;
    background-color: brown;
    font-size: 20px;
    line-height: 150%;
}

#gameDiv {
    width: 1000px;
    height: 550px;
    background-color: salmon;
}

#gameControlsDiv {
    width: 250px;
    height: 550px;
    background-color: hotpink;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#menuButton {
    width: 200px;
    height: 80px;
    background-color: goldenrod;
    text-align: center;
    line-height: 150%;
    font-size: 50px;
}

#optionsMenu {
    width: 450px;
    height: 400px;
    background-color: aqua;
    position: absolute;
    z-index: 2;
    top: 80px;
    left: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#returnButton, #rulesOptButton, #restartButton, #saveQuitButton {
    width: 300px;
    height: 80px;
    background-color: red;
    text-align: center;
    font-size: 40px;
    line-height: 150%;
}

#colorButton, #crossButton {
    width: 120px;
    height: 120px;
    background-color: burlywood;
}

#dpadDiv {
    width: 150px;
    height: 150px;
    background-size: 100%;
    display: flex;
    flex-wrap: wrap;
}

.direction {
    width: 33%;
    height: 33%;
}

#gameDisplayDiv {
    width: 750px;
    height: 550px;
    display: flex;
    align-items: center;
    background-color: royalblue;
}

#gameGridDiv {
    width: 504px;
    height: 504px;
    background-color: tomato;
}

#grid5, #grid10, #grid15 {
    width: 504px;
    height: 504px;
    border: 1px solid black;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

#topHints5, #topHints10, #topHints15 {
    width: 360px;
    height: 144px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.topRow5 {
    width: 360px;
    height: 72px;
    display: flex;
}

.topRow10 {
    width: 360px;
    height: 36px;
    display: flex;
}

.topRow15 {
    width: 360px;
    height: 24px;
    display: flex;
}

.hintSquares5 {
    width: 72px;
    height: 72px;
    border: 1px solid black;
    color: white;
    text-align: center;
    font-size: 40px;
    line-height: 175%;
}

.hintSquares10 {
    width: 36px;
    height: 36px;
    border: 1px solid black;
    color: white;
    text-align: center;
    font-size: 23px;
    line-height: 175%;
}

.hintSquares15 {
    width: 24px;
    height: 24px;
    border: 1px solid black;
    color: white;
    text-align: center;
    font-size: 15px;
    line-height: 175%;
}

#bottomDiv5, #bottomDiv10, #bottomDiv15 {
    width: 504px;
    height: 360px;
    background-color: green;
    display: flex;
}

#leftHints5, #leftHints10, #leftHints15 {
    width: 144px;
    height: 360px;
    background-color: blue;
    display: flex;
    flex-direction: column;
}

.leftRow5 {
    width: 144px;
    height: 72px;
    display: flex;
}

.leftRow10 {
    width: 144px;
    height: 36px;
    display: flex;
    justify-content: flex-end;
}

.leftRow15 {
    width: 144px;
    height: 24px;
    display: flex;
    justify-content: flex-end;
}

#picGrid5, #picGrid10, #picGrid15 {
    width: 360px;
    height: 360px;
    background-color: pink;
}

.picRow5 {
    width: 360px;
    height: 72px;
    display: flex;
}

.picRow10 {
    width: 360px;
    height: 36px;
    display: flex;
}

.picRow15 {
    width: 360px;
    height: 24px;
    display: flex;
}

.picSquares5 {
    width: 72px;
    height: 72px;
    border: 1px solid black;
    text-align: center;
    font-size: 40px;
    line-height: 175%;
}

.picSquares10 {
    width: 36px;
    height: 36px;
    border: 1px solid black;
    text-align: center;
    font-size: 23px;
    line-height: 175%;
}

.picSquares15 {
    width: 24px;
    height: 24px;
    border: 1px solid black;
    text-align: center;
    font-size: 15px;
    line-height: 175%;
}

#gameInfoDiv {
    width: 246px;
    height: 550px;
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#mistakesDiv {
    width: 246px;
    height: 100px;
    background-color: indianred;
    text-align: center;
}

#timerDiv {
    width: 246px;
    height: 100px;
    background-color: indianred;
    text-align: center;
}

#captionDiv {
    width: 246px;
    height: 100px;
    background-color: indianred;
    text-align: center;
}

#finishGame {
    width: 246px;
    height: 100px;
    background-color: indianred;
    text-align: center;
}