body {
    background-color: khaki
}

#titleDiv {
    width: 1000px;
    height: 100px;
    background-color: red;
    color: white;
    text-align: center;
    font-size: 50px;
    line-height: 150%;
}

#gameDiv {
    width: 1000px;
    height: 450px;
    background-color: blue;
    display: flex;
    justify-content: flex-start;
}

#startGameOptions {
    width: 400px;
    height:450px;
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#playButton, #rulesButton {
    width: 300px;
    height:100px;
    background-color: purple;
    text-align: center;
    color: white;
    font-size: 50px;
    line-height: 150%;
    margin-top: 10px;
}

#startImageDiv {
    width: 500px;
    height: 450px;
    background-color: aqua;
}

#levelSelectTopDiv {
    width: 1000px;
    height: 100px;
    background-color: red;
    color: white;
    font-size: 50px;
    line-height: 150%;
}

#returnToStart {
    width: 300px;
    height:100px;
    background-color: purple;
    text-align: center;
    color: white;
    font-size: 50px;
    line-height: 150%;
}

#levelSelectTitle {
    width: 500px;
    height: 100px;
    background-color: hotpink;
    text-align: center;
}

#levelSelectDiv {
    width: 1000px;
    height: 450px;
    background-color: blue;
    display: flex;
    justify-content: flex-start;
}

.levelRows {
    width: 1000px;
    height: 225px;
    background-color: brown;
    display: flex;
}